---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import FormModal from "../components/FormModal.astro";
---
<html lang="de">
  <slot name="head" />
  <body class="min-h-screen bg-base-100 flex flex-col text-base-content selection:bg-primary/20">
    <slot name="hero" />
    
    <main class="container mx-auto px-6 py-12 md:py-16 prose prose-lg max-w-3xl text-center space-y-10 flex-grow">
      <slot />
    </main>

    <Footer />
    <FormModal />
  </body>
</html>
