RewriteEngine On
RewriteRule ^einblicke/sport/bundesliga/(.*) /einblicke/sport/fussball/bundesliga/$1 [R=302,L]
RewriteRule ^einblicke/oefb/(.*) /einblicke/sport/fussball/oefb/$1 [R=302,L]
RewriteRule ^einblicke/(sport/)?nero(\d+) /einblicke/sport/fussball/nero$2 [R=302,L]
RewriteRule ^einblicke/sport/eishockey/20(.*) /einblicke/sport/eishockey/ice/20$1
RewriteRule ^einblicke/pflasterspektakel2024 /einblicke/events/2024/pflasterspektakel
RewriteRule ^einblicke/klangwolke-2024 /einblicke/events/2024/klangwolke
RewriteRule ^einblicke/schneider-motorsport-2024 /einblicke/events/2024/schneider-motorsport
RewriteRule ^einblicke/budapest-2024 /einblicke/trips/2024/budapest
RewriteRule ^einblicke/r1 /einblicke/reviews/r1