---
import type { InferGetStaticPropsType, PaginateFunction } from "astro";
import { getCollection } from "astro:content";
import Einblicke from "../../layouts/Einblicke.astro";
import BaseHead from "../../layouts/BaseHead.astro";
import Breadcrumbs from "../../layouts/Breadcrumbs.astro";
import MinimalPage from "../../layouts/pages/MinimalPage.astro";

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const posts = (await getCollection("einblicke")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  );

  return paginate(posts, { pageSize: 12 });
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props;
const title = "Einblicke in die Fotoshootings";
---
<MinimalPage>
  <BaseHead title={title} />
  <Breadcrumbs />
  <h1>{title}</h1>
  <Einblicke page={page} />

</MinimalPage>
