---
---
<div class={`collapse collapse-plus bg-base-200 border border-base-300 join-item`}>
  <input type="radio" checked="checked" name="info" class="peer" />
  <div class="collapse-title text-lg md:text-xl font-semibold pr-12">
    <div class="flex items-baseline gap-3">
      <span class="text-2xl">🌧️</span>
      <span>Die Schlechtwetter-Garantie</span>
    </div>
  </div>
  <div class="collapse-content bg-base-100">
    <p class="my-4">
      Outdoor-Shootings leben von der Natur. Sollte uns am Tag des Shootings Dauerregen, Sturm, eine Unwetterwarnung oder unerwartete Kälte (z. B. wenn wir im Frühling ein Shooting ohne Jacke geplant
      haben) einen Strich durch die Rechnung machen, verschieben wir den Termin völlig kostenlos und unkompliziert.
    </p>
    <p>
      <strong>Wichtig zu wissen:</strong> Ein bewölkter Himmel ist kein „Schlechtwetter“, sondern liefert oft das schönste, weichste Licht für Portraits! Auch 30 Grad im Sommer sind kein Problem – wir
      suchen uns einfach ein schattiges Plätzchen oder shooten abends.
    </p>
  </div>
</div>