---
import {MonthEnum} from "./Types";

interface Props {
    month: MonthEnum
}
const {month} = Astro.props
const date = new Date();
date.setMonth(month - 1)
---
<div class:list={["border mx-1 px-2 py-1 rounded-xl inline-flex items-center",
    {
        "border-blue-400 bg-blue-400 text-white ": month === 12 || month <= 2,
        "border-emerald-400 bg-emerald-400 text-white": month >= 3 && month <= 5,
        "border-amber-300 bg-amber-300 text-black": month >= 6 && month <= 8,
        "border-amber-700 bg-amber-700 text-white": month >= 9 && month <= 11,

    }]}>
    <div class:list={["mr-1", {
        "mdi--snowflake ": month === 12 || month <= 2,
        "mdi--flower-tulip": month >= 3 && month <= 5,
        "mdi--white-balance-sunny": month >= 6 && month <= 8,
        "mdi--leaf": month >= 9 && month <= 11,
    }]}></div>
    {
        date.toLocaleDateString('de-AT', {
            month: 'short',
        })
    }
</div>