---
import { type Page } from "astro";
import { type CollectionEntry } from "astro:content";

import EinblickCard from "./EinblickCard.astro";
import Pagination from "./Pagination.astro";

interface Props {
  page: Page<CollectionEntry<"einblicke">>;
}

const { page } = Astro.props;

const { data: posts } = page;
---

<Pagination page={page} />

<section class="mx-auto my-4 grid gap-y-4 md:grid-cols-2 md:gap-x-4 xl:grid-cols-3">
  {posts.map((post) => <EinblickCard {post} />)}
</section>

<Pagination page={page} />
