---
import { type CollectionEntry } from "astro:content";

import ReviewCards from "./ReviewCards.astro";

interface Props {
  slug: string,
  featuredTestimonials: string[] | undefined,
  categoryTestimonials: CollectionEntry<"testimonials">[]
}

const {  featuredTestimonials, categoryTestimonials, slug } = Astro.props;
---
{featuredTestimonials &&
<>
  {featuredTestimonials.length >= 2 &&
    <>
      <ReviewCards slugs={featuredTestimonials}></ReviewCards>
      {categoryTestimonials.length > 2 &&
        <div class="my-4 flex flex-col items-center">
          <a href={`/${slug}/testimonials`} class="button primary md:w-1/2">Alle {categoryTestimonials.length} Bewertungen lesen</a>
        </div>
      }
    </>}
  {featuredTestimonials.length === 1 &&
    <ReviewCards slugs={featuredTestimonials}></ReviewCards>}
</>}
