---
import Form from "./Form.astro";

interface Props {
  showContact?: boolean;
}
const { showContact = true } = Astro.props;
const today = new Date();
---

<footer>
  <div class="footer border-t bg-base-300 text-base-content border-base-300 px-4 py-8 items-center justify-center mt-10">
    <div class="items-center justify-center text-center flex flex-col gap-2">
      <div class="flex flex-wrap gap-x-4 justify-center items-center w-full flex-wrap">
        <a href="/impressum" class="link link-hover">Impressum</a>
        <a href="/agb" class="link link-hover">AGBs</a>
        <a href="/dsb" class="link link-hover">Datenschutz</a>
        <a href="/tfp" class="link link-hover">TFP</a>
      </div>
      <p class="opacity-90 text-sm mt-2">
        © 2017 - {today.getFullYear()} Florian Reisinger. Mit
        <span class="mdi--heart text-error inline-block align-middle"></span>
        erstellt in Linz, Österreich.
      </p>
    </div>
  </div>
</footer>

{showContact && (
  <>
    <button 
      onclick="document.getElementById('contact_modal').showModal()" 
      class="tooltip tooltip-left tooltip-primary btn btn-primary btn-circle fixed bottom-6 right-6 z-[90] shadow-2xl h-16 w-16 hidden sm:flex hover:scale-110 transition-transform group"
      aria-label="Kontaktformular öffnen" data-tip="Lass uns unverbindlich reden!"
    >
      <span class="mdi--message-text text-3xl group-hover:animate-pulse"></span>
    </button>

    <dialog id="contact_modal" class="modal modal-bottom sm:modal-middle z-[100]">
      <div class="modal-box bg-base-100">
        <form method="dialog">
          <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
             <span class="mdi--close text-xl"></span>
          </button>
        </form>
        <div class="mt-4">
          <Form />
        </div>
      </div>
      
    </dialog>
  </>
)}
