---
import Form from "./Form.astro";

interface Props {
  showContact?: boolean;
}
const { showContact = true } = Astro.props;
const today = new Date();
---
<footer class="container">
  {showContact &&
    <div class="flex flex-col items-center gap-8 py-8">
      <h3>Kontaktiere mich</h3>
      <div class="join join-vertical md:join-horizontal">
        <a
          class="btn btn-neutral join-item"
          target="_blank"
          href="mailto:florian@reisinger.pictures?subject=%5BKONTAKTFORMULAR%5D%20Anfrage&body=%0D%0AMeine%20Telefonnummer%20f%C3%BCr%20R%C3%BCckfragen%3A">
          <span class="mdi--email text-xl"></span>
          <span>Schicke eine E-Mail</span>
        </a>
        <a
          class="btn bg-brand-whatsapp text-white join-item"
          target="_blank" href="https://wa.me/436702017710">
          <span class="mdi--whatsapp text-xl"></span>
          <span>Schreib mir auf WhatsApp</span>
        </a>
      </div>
      <Form />
    </div>
  }

  <div class="prose flex justify-center items-center gap-x-4">
    <a  href="/impressum">Impressum</a>
    <a href="/agb">Allgemeine Geschäftsbedingungen (AGB) für Fotoshootings</a>
  </div>
  <div class="pb-4 flex items-center justify-center">
    &copy; 2017 - {today.getFullYear()} Florian Reisinger. Mit
    <span class="mdi--heart text-red-500 mx-1"></span>
    aus Linz, Österreich
  </div>
</footer>
