---

---
<h3>Kontaktformular</h3>
<form method="POST" action="https://form.reisinger.pictures" class="flex flex-col w-full max-w-lg mx-auto gap-y-2">
  <label class="form-control w-full">
    <span class="label">Art der Anfrage</span>
    <select name="subject_prefix" required class="select select-primary w-full">
      <option value="" selected disabled>Bitte wähle eine Option</option>
      <option value="BEAUTY">Beauty Shooting</option>
      <option value="AKT">Akt Shooting</option>
      <option value="COUPLES">Couples Shooting</option>
      <option value="TANZ">Tanz Shooting</option>
      <option value="REVIEW">Bewertung</option>
      <option value="">Andere Anfrage</option>
    </select>
  </label>
  <label class="form-control w-full">
    <span class="label required">Name</span>
    <input type="text" name="name" required class="input input-primary w-full" />
  </label>
  <label class="form-control w-full">
    <span class="label required">Email</span>
    <input type="email" name="email" required class="input input-primary w-full" />
  </label>
  <label class="form-control w-full">
    <span class="label">Telefonnummer</span>
    <input type="tel" name="phone" class="input input-primary w-full" />
  </label>

  <label class="form-control w-full">
    <span class="label required">Nachricht</span>
    <textarea name="message" rows="6" required class="textarea textarea-primary w-full"></textarea>
  </label>
  <label class="label required hidden">
    <input type="checkbox" name="dsgvo" class="checkbox checkbox-primary" /> Do not check
  </label>
  <input type="hidden" name="honeypot" value="6786c25a-b4fc-800d-b3c6-fa0d36f41154" />
  <button type="submit" class="btn btn-primary w-full mt-1">Abschicken</button>
</form>