---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^/]+/g);
const isActive = href === pathname || href === `/${subpath?.[0]}`;
---
<span class:list={[className, "black px-2 py-4 border-b-4 text-nowrap", {
  "font-medium border-b-primary-alternative": isActive,
  "border-b-transparent": !isActive
}]} {...props}>
  <slot />
</span>
