---
import { SITE_TITLE } from "../consts";
import type { Menue } from "./Menue";
import RenderMenu from "./Menue.astro";
import ResponsiveImage from "./ResponsiveImage.astro";
import { ResponsiveImageLoading } from "./ResponsiveImageLoading";


const menue: Menue = [
  {
    name: "Beauty",
    href: "/beauty"
  }, {
    name: "Akt",
    href: "/akt"
  }, {
    name: "Couples",
    href: "/couples"
  }, {
    name: "Sport",
    href: "/sport"
  }, {
    name: "Tanz",
    href: "/tanz"
  },
  {
    name: "Videos",
    href: "/videos/tanz"
  }, {
    name: "Einblicke",
    href: "/einblicke"
  }, {
    name: "Dein Fotoshooting",
    href: "/shootings"
  }
];
---
<header class="container pb-6">
  <nav class="grid sm:grid-cols-2">
    <a href="/" class="mx-auto my-4 size-32">
      <ResponsiveImage class="rounded-full" widths={[128]} name="logo" bg={false}
                       alt={SITE_TITLE} loading={ResponsiveImageLoading.EAGER}></ResponsiveImage>
    </a>
    <div class="flex flex-wrap items-start justify-center sm:items-center">
      <RenderMenu menue={menue} />
    </div>
  </nav>
</header>
