---
import { getEntry } from "astro:content";
import ContentCard from "./ContentCard.astro";
import type { Props as ContentCardProps } from "./ContentCard.astro";

type Props = { categories: string[], urls: ContentCardProps[] };

const { categories, urls } = Astro.props;
---
<h2>Kategorien</h2>
<div class="mb-8">
  <div class="grid grid-cols-2 lg:grid-cols-4 justify-center items-center gap-x-2 gap-y-4">
    {categories.map(async category => {
      const cat = await getEntry("categories", category);
      return (
        <a href={"/gallery/" + (category === "/" ? "" : category)} class="mx-auto badge badge-lg badge-primary hover:badge-secondary transition-colors duration-300">
          {cat?.data.name}
        </a>
      );
    })}
  </div>
  {urls.length > 0 && (
    <h2>Entdecke mehr zu diesem Bild</h2>
    <div class="grid gap-y-4">
      {urls.map((ccp) => (
        <ContentCard {...ccp} />))}
    </div>
  )}
</div>