---
import ResponsiveImage from "./ResponsiveImage.astro";
import Photoswipe from "./Photoswipe.astro";
import { GALLERY_BREAKPOINTS, GalleryLayout } from "./GalleryLayout";

interface Props {
  images: string[];
  layout?: GalleryLayout;
}

const { images, layout = GalleryLayout.Presentation } = Astro.props;
---
<section data-gallery={layout === GalleryLayout.Presentation ? "" : layout}>
  {images.map((image, idx) => {
    const isLast = idx === images.length - 1;
    return (
      <ResponsiveImage name={image}
                       sizeModifiers={GALLERY_BREAKPOINTS[isLast && idx % 2 === 0 && layout === GalleryLayout.Presentation ? GalleryLayout.Full : layout]}
      />);
  })}
</section>
<Photoswipe />
