---
import { type Page } from "astro";

interface Props {
  page: Page<unknown>;
}

const { page } = Astro.props;
const { url } = page;
const { prev: rPrev, next: rNext } = url;

const prev = rPrev?.replace(/[/]{2,}/, "/");
const next = rNext?.replace(/[/]{2,}/, "/");
---
<div class="join grid grid-cols-2">
  <button class="join-item btn btn-outline" disabled={prev === undefined}><a href={prev}> Vorherige Seite</a></button>
  <button class="join-item btn btn-outline" disabled={next === undefined}><a href={next}> Nächste Seite</a></button>
</div>
