---
import { getCollection } from "astro:content";

import EinblickCard from "./EinblickCard.astro";

const posts = (await getCollection("einblicke"))
  .sort((a, b) => {
    const aData = a.data;
    const bData = b.data;

    return Math.max(bData.date.valueOf(), bData.updated?.valueOf() ?? Number.MIN_VALUE) - Math.max(aData.date.valueOf(), aData.updated?.valueOf() ?? Number.MIN_VALUE);
  })
  .slice(0, 5);
---

<div class="carousel w-full">
  {
    posts.map((post, i) => {
      const prevPost = posts.at(i - 1);
      const nextPost = posts.at((i + 1) % posts.length);
      return (
        <div id={post.slug.replaceAll("/", "-")} class="carousel-item relative w-full">
          <EinblickCard post={post} />
          <div class="absolute left-5 right-5 top-1/3 sm:top-1/2 flex -translate-y-1/2 transform justify-between">
            {prevPost !== undefined && <a href={`#${prevPost.slug.replaceAll("/", "-")}`} class="btn btn-circle btn-neutral not-prose">❮</a>}
            {nextPost !== undefined && <a href={`#${nextPost.slug.replaceAll("/", "-")}`} class="btn btn-circle btn-neutral not-prose">❯</a>}
          </div>
        </div>
      );
    })
  }
</div>