---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"shootingCards">;

const { render, data } = Astro.props;

const { title, shutterSpeed, fStop, iso, expComp } = data;
const { Content } = await render();

const rows: string[][] = [
  ["Verschlusszeit", shutterSpeed],
  ["Blende", fStop],
  ["ISO", iso],
  (expComp === undefined ? undefined : ["Belichtungskorrektur", expComp])
].filter(e => e !== undefined);
---

<div>
  <h1>Einstellungen für <b>{title}</b> Fotos</h1>
  <ul>
    {rows.map(([k, v]) => (
      <li>
        <span>{k}</span>
        <span />
        <span>{v}</span>
      </li>))}
  </ul>
  <div>
    <Content />
  </div>
</div>